.project-box {
  width: 340px;
  height: 233px;
  background-color: #fff6f6;
  margin-right: 50px;
  margin-bottom: 30px;
  border-radius: 70px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.project-box:hover .modal {
  display: flex;
}
.project-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#project-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.modal {
  display: none;
  background-color: rgba(78, 78, 85, 0.399);
  position: absolute;
  top: 0;
  width: 340px;
  height: 233px;
  border-radius: 70px;
  font-size: smaller;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
}
.click-button {
  font-size: large;
  font-weight: 500;
  color: white;
  text-decoration-line: none;
}
#click-message {
  font-size: 25px;
  font-weight: 700;
  color: #f875aa;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 150px;
}
