@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@400;600&family=Patrick+Hand&family=Poor+Story&display=swap");

* {
  box-sizing: border-box;
}
#menu-bar {
  display: flex;
  align-items: center;
  background-color: #fff6f6;
  height: 60px;
  padding: 40px 0px;
}
#website-title {
  width: 730px;
  margin-left: 50px;
  font-size: 40px;
  font-family: "Patrick Hand", cursive;
}
.nav-menu {
  text-decoration-line: none;
  margin-right: 55px;
  font-size: large;
  color: black;
  background-color: #ffdfdf;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: mulish;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#mainContents-container {
  display: flex;
  justify-content: center;
  margin: 15px 0px 25px 0px;
}
footer {
  text-align: end;
  margin-right: 50px;
}
.nav-menu:hover {
  background-color: #f875aa;
  color: #fff6f6;
}
